<div [ngClass]="{'dark-theme': isDarkTheme}" style="height: 100%;">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer">Practice Angular</span>
    <button mat-icon-button aria-label="Theme" *ngIf="!isDarkTheme" (click)="changeTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button mat-icon-button aria-label="Theme" *ngIf="isDarkTheme" (click)="changeTheme()">
      <mat-icon>light_mode</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize style="height:calc(100% - 64px);">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <sidenav></sidenav>
  </mat-drawer>

  <div style="padding:20px">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

</div>