<div [ngClass]="{'dark-theme': isDarkTheme}">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Practice Angular</span>
    <button mat-icon-button aria-label="Theme" *ngIf="!isDarkTheme" (click)="changeTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <button mat-icon-button aria-label="Theme" *ngIf="isDarkTheme" (click)="changeTheme()">
      <mat-icon>light_mode</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<main>
  <div>
    <mat-card>
      <h1>Page Not Found</h1>
      <p>We're sorry. The page you are looking for cannot be found.</p>
      <a routerLink="/" mat-raised-button color="primary">Go Home</a>
      <a routerLink="/guides" mat-raised-button>Read Guides</a>
    </mat-card>
  </div>
</main>


</div>